@charset "UTF-8";
/*共通部分
-------------------------*/
html {
    font-size: 100%;
}
body {
    line-height: 1.9;
    letter-spacing: 0.1rem;
    background-color: #fafafa;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    padding: 0 3.5rem;
}

/* HEADER
----------------*/
.logo {
    width: 70px;
    margin: 14px;
}
.main-nav {
    display: flex;
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #020202;
    text-transform: none;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
}
.main-nav a {
    color: #020202;
}
.main-nav a:hover {
    color: #F0B592;
    text-decoration: underline;
}
.page-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #fafafa;
    position: sticky;
    top: 0;
    z-index: 30;
}

.fadein0 {
    transition: 6s;
    opacity: 0;
}

.fadein0.animated {
    opacity: 1;
}

/* main */
#top-main {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-image: url(https://github.com/yukachooo/portfolio/blob/main/images/top_images.jpg?raw=true);
}
.home-content {
    text-align: center;
}
.page-title1 {
    text-align: left;
    display: inline-block;
    color: #fefefe;
    font-size: 3.125rem;
    font-family: playfair display,serif;
    font-weight: bold;
    line-height: 1.4em;
    margin-top: 10%;
    margin-left: 50%;
}
.js-fade {
    transition: 3s;
    opacity: 0;
}

.js-fade.animated {
    opacity: 1;
}


/* Top-ABOUT
---------------*/
#top-about{
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 100px;
}
h2 {
    padding-top: 12vh;
    padding-bottom: 12vh;
    color: #020202;
    font-family: playfair display,serif;
    font-weight: 400;
    font-size: 2.25rem;
    letter-spacing: 5.15px;
}
.about-right {
    max-width: 600px;
    height: auto;
    padding: 60px;
    box-sizing: border-box;
    background-color: #f8f2eb;
}
.about-text {
    font-family: "Arial, Helvetica, sans-serif";
    color: #020202;
    font-size: 1rem;
    letter-spacing: 0.15em;
    line-height: 2.3em;
}
.about-text p {
    display: inline-block;
    text-align: left;

}

.about-flexall {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button1 {
    font-size: 1.125rem;
    background: #fafafa;
    color: #020202;
    font-family: playfair display,serif;
    border: 0.5px solid #020202;
    letter-spacing: 0.4em;
    text-align: center;
    display: inline-block;
    padding: 8px 38px;
    margin-bottom: 60px;
    position: relative;
    top: 100px;
}
.button1:hover {
    background: rgba(240, 181, 146, 0.34);
    text-decoration: underline;
}
.wrapper {
    padding: 0 1.5rem;
    width: auto;
    max-width: 1100px;
    margin: 0 auto;
}

.fadein {
    transform: translate3d(0, 50px, 0);
    transition: 1s;
    opacity: 0;
  }
   
  .fadein.animated {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

/* Top-WORKS
-----------------*/
#top-works {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: rgba(248, 242, 235, 0.49);
}

.works-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item0 {
    position: relative;
    width: 30%;
    background-size: cover;
}

.item {
    position: relative;
    width: 30%;
    background-size: cover;
    margin-bottom: 18px;
}

.item-hov {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c7c7c7;
    opacity: 0;
    display: block;
    top: 0px;
    transition: .2S;
}

.item-hov:hover {
    background: #c7c7c7; 
    opacity: 0.6
    ;
}


/* Top-CONTACT
--------------------*/
#top-contact{
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 100px;
}

#top-contact p {
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #020202;
}

.br-sp {
    display: none;
}

/*  ABOUT
------------------*/

/* Profile */
.title {
    text-align: center;
    font-size: 2.5rem;
    font-family: playfair display,serif;
    letter-spacing: 0.25rem;
    font-weight: 100;
    padding-top: 10vh;
    border-bottom: 1px #020202 solid;
    width: 346px;
    margin: 0 auto;
}
.profile-flexAll {
    align-items: center;
    padding-bottom: 100px;
}
h4 {
    color: #020202;
    font-size: 1.875rem;
    font-family: playfair display,serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.35rem;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.paragraph {
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #020202;
    text-transform: none;
}
.profile-contents {
    display: flex;
    justify-content: space-between;
}
.paragraph1 {
    color: #F0B592;
    font-weight: bold;
}
.paragraph0 {
    color: #F0B592;
    font-weight: bold;
}
.profile-text {
    width: 470px;
    height: 537px;
}
.photos {
    width: 500px;
    height: 550px;
    position: relative;
}
.photo1 {
    position: absolute;
    top: 0%;
    left: 200px;
    z-index: 20;
}
.photo2 {
    width: 213px;
    height: 452px;
    top: 55px;
    left: 115px;
    background-color: #f8f2eb;
    position: relative;
    z-index: 10;
}

/* Skills */
.skills-unity {
    display: flex;
}
.skills-content {
    width: 50%;
    text-align: center;
}

h5 {
    width: 65%;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #020202;
    text-transform: none;
}
.txt-contents { 
    width: 65%;
    display: inline-block;
    margin: 10px;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #020202;
    text-transform: none;
}

/* career */
#career {
    margin: 80px 0 160px;
}
.career-flex {
    display: flex;
    border-left: none;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.career-flexlnner-left {
    width: 15%;
    padding-top: 50px;
    padding-bottom: 45px;
    font-size: 1.125rem;
    font-family: playfair display,serif;
    letter-spacing: 0.15rem;
    line-height: 1.7rem;
}
.career-flexlnner-right {
    width: 85%;
    border-left: 1px solid #020202;
    padding-left: 8%;
    padding-top: 50px;
    padding-bottom: 45px;
    position: relative;
}
.career-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    color: #020202;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
    font-size: 1rem;
}
.career-flexlnner-right::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F0B592;
    position: absolute;
    top: 55px;
    left: -8px;
}
::before,::after {
    box-sizing: border-box;
}

/*  WORKS */
#works {
    max-width: 650px;
    margin: 0 auto;
}
#works p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
    color: #020202;
}
.works_contents {
    padding-top: 120px;
}
.works_contents1 {
    display: flex;
    padding-top: 120px;
}

.workspage-summary {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 60px;
    color: #020202;

}

.works-list {
    display: block;
    float: left;
    width: 25%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9375rem;
}
.works-text {
    width: 75%;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4rem;
    font-size: 0.9375rem;

}

/* form */
#contact {
    background-color: #fafafa;
    margin: 0 0 160px ;
}
form {
    margin-top: 80px;
}
.contact-flaxAll {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
form div {
    width: 480px;
    height: fit-content;
    padding-bottom: 14px;
    margin: 0 auto;
}
label {
    font-size: .75rem;
    margin-bottom: 10px;
    display: block;
}
label::after {
    content: "*";
    color: #F0B592;
    font-size: .8rem;
}
input[type="text"]:valid,
input[type="email"]:valid,
textarea:valid {
    border: 1px #020202 solid;
    padding: 3px 3px 3px 12px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 480px;
    height: 2rem;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 10rem;
}
label {
    text-align: left;
}

/* フェードイン */
.fadein1 {
    display: none;
}

/* Footer */
footer {
    background:rgba(217, 217, 217, 0.6) ;
    text-align: center;
    padding: 40px 0;
    display: block;
}
footer p {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}




/* mobile */

@media (max-width: 600px) {

    /* body */
    body {
        font-size: 80%;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
  
    /* header */
    .page-header {
        flex-direction: column;
        align-items: center;
        height: 110px;
    }

    .main-nav {
        font-size: .9rem;
        margin-top: -15px;
    }
    .main-nav li {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* HOME
    ------------*/
    
    /* main */

    #top-main {
        background-position: -86px -40px;
        height: 335px;
        background-size: 155%;
    }

    .page-title1 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 35%;
        line-height: 1.9rem;
    }

    /* top-about */
    .about-flexall {
        flex-direction: column;
    }
    h2 {
        font-size: 2rem;
        padding: 5vh;
    }
    .about-left {
        width: 250px;
        height: 290px;
        margin-bottom: 20px;
    }
    .about-text {
        font-size: .85rem;
    }
    .button1 {
        font-size: .95rem;
        padding: 8px 30px;
        margin-bottom: 30px;
        top:60px
    }
    .br-sp0 {
        display: none;
    }
    

    /* top-works */
    .works-items {
    flex-direction: column;
    }
    .item {
        width: 100%;
    }
    
    /* top-contact */
    #top-contact p {
        font-size: .95rem;
    }
    .br-sp {
        display: block;
    }
    /* ABOUT 
    ---------------*/
    .title {
    font-size: 2rem;
    padding-top: 6vh;
    width: 280px;
    }

/* profile */
    .profile-flexAll {
        padding-bottom: 0;
    }
    h4 {
        font-size: 1.5rem;
        padding-top: 7vh;
    }
    .profile-contents {
        flex-direction: column-reverse;
    }
    .photos {
        right: 30%;
        width: 475px;
        height: 400px;
        margin-bottom: 50px;
    }
    .photo1 img {
        max-width: 60%;
    }
    .photo2 {
        width: 128.8px;
        height: 350px;
        left: 165px;

    }
    .profile-text {
        width: 100%;
        height: auto;
        margin-top: 5vh;
    }
    .paragraph {
        font-size: .875rem;
    }

    /* skills */
    .skills-content {
        width: 100%;
        margin: 0 auto 60px;
    }
    .skills-unity {
        flex-direction: column;
        align-items: center;
    }
    .txt-contents {
        width: 100%;
        display: contents   ;
    }
    h5  {
        width: 100%;
    }

    /* career */
    #career {
        margin: 0 0 100px;
    }
    .career-flex {
        padding-left: 0;
        padding-top: 0;
        border-left: none;
    }
    .career-flexlnner-left {
        width: 30%;
        padding-top: 35px;
        font-size: 1.1rem;

    }
    .career-flexlnner-right {
        width: 70%;
        padding-top: 35px;
        padding-bottom: 0;
    }
    .career-flexlnner-right::before {
        top: 40px;
        left: -8px;
}
    .career-bold {
        font-size: .85rem;
    }

    /* works */
    .works_contents {
        padding-top: 7vh;
    }
    dl.workspage-summary {
        margin: 50px 0 40px;
    }
    .works-list {
        font-size: .85rem;
    }
    .works-text {
        font-size: .85rem;
    }

    /* CONTACT
    ------------ */ 
    .contact-flaxAll {
        max-width: 100%;
    }
    form div {
        width: auto;
    }
    input.button1 {
        top: 30px;
    }
}
